
<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centrado"> Registrar Usuario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-card class="margin-top centrado">
    <ion-card-header>
      <h1 class="neon-rgb centrado">Registro</h1>
    </ion-card-header>
    <ion-card-content>
      <form  [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <div>  
          <ion-label for="correo" class="Form-label" position="floating">Correo</ion-label>
          <ion-input type="email" class="form-control" id="correo" correo="correo" required placeholder="Ingrese Correo..." [(ngModel)]="correou" formControlName="correo"></ion-input>
          <div *ngIf=" formularioRegistro.get('correo')?.touched && formularioRegistro.get('nombre')?.errors?.['required']" class="alert alert-danger">Campo vacio</div>
        </div>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" placeholder="Ingrese nombre..." [(ngModel)]="nombreu" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Nombre (Opcional)</ion-label>
          <ion-input type="text" placeholder="Ingrese Nombre..." [(ngModel)]="nombreuop" formControlName="NombreOpcional"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label>
          <ion-input placeholder="Ingrese contraseña..." [(ngModel)]="contrau" formControlName="password" type="password" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input placeholder="Confirmar contraseña..." formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button [disabled]="formularioRegistro.invalid" (click)="guardar()">Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card> 
</ion-content>
