<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centrado">GameZone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido del carrito -->
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="neon-rgb">Carrito de Compras</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list lines="none" class="custom-table">
            <ion-item class="header-row">
              <ion-label class="centrado">Imagen</ion-label>
              <ion-label class="centrado">Nombre</ion-label>
              <ion-label class="centrado">Cantidad</ion-label>
              <ion-label class="centrado">SubTotal</ion-label>
            </ion-item>
            <ion-item *ngFor="let elemento of carrito">
              <ion-label class="centrado"><img [src]="elemento.imagenv" alt="Imagen del producto" width="100" height="100"></ion-label>
              <ion-label class="centrado">{{ elemento.nombrev }}</ion-label>
              <ion-label class="centrado">{{ elemento.cantidad }}</ion-label>
              <ion-label class="centrado">{{ elemento.cantidad * elemento.precio | precioClp }}</ion-label>
              
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="centrado">
  <h3><span  class="neon-rgb">Total: {{ totalCarrito | precioClp }}</span></h3>
  <ion-button (click)="vaciarCarrito()">Vaciar Carrito</ion-button>
  <ion-button [routerLink]="['/datos-pago']" expand="full">Pagar</ion-button>
</ion-footer>
