<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centrado"> GameZone </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <h1 class="neon-rgb">Gracias por su compra!!</h1>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="neon-rgb">Datos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
        <ion-label>Rut:</ion-label>
        <p>x.xxx.xxx-x</p>
      </ion-item>
      <ion-item>
        <ion-label>Usuario:</ion-label>
        <span>tugatita777</span>
      </ion-item>
      <ion-item>
        <ion-label>Correo:</ion-label>
        <span>tugatita777@duocuc.cl</span>
      </ion-item>
      <ion-item>
        <ion-label class="centrado">Total:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="centrado">5 peso</ion-label>
    </ion-item>
    <ion-button [routerLink]="['/home']">Volver</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-grid>
  
</ion-content>
  